@model AutomationOfWithdrawalBookletCharges.ViewModel.CustomerViewModel

<div class="row row-content-section">
    <div class="col-md-12">
        <div class="well form-horizontal col-md-8 col-md-offset-2">
            <fieldset>
@using (Html.BeginForm("Approve", "HssaDetails", FormMethod.Post, new { id = "sendform", role = "form" }))
                {
                <h3 class="text-center ubn-color">Withdrawal Booklet Request Details</h3>
                <div class="col-md-10 col-md-offset-2 form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>@Html.DisplayNameFor(model => model.AccountName)</strong></div>
                        <div class="col-md-8"><strong>@Html.DisplayFor(model => model.AccountName)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>@Html.DisplayNameFor(model => model.AccountNumber)</strong></div>
                        <div class="col-md-8"><strong>@Html.DisplayFor(model => model.AccountNumber)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>@Html.DisplayNameFor(model => model.AccountBalance)</strong></div>
                        <div class="col-md-8"><strong>@Html.DisplayFor(model => model.AccountBalance)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>@Html.DisplayNameFor(model => model.PhoneNo)</strong></div>
                        <div class="col-md-8"><strong>@Html.DisplayFor(model => model.PhoneNo)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>@Html.DisplayNameFor(model => model.DateOfLastIssue)</strong></div>
                        <div class="col-md-8"><strong>@Html.DisplayFor(model => model.DateOfLastIssue)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>Enter Booklet Serial Number (First Number)</strong></div>
                        <div class="col-md-4"><strong>@Html.DisplayFor(model => model.SerialNoStart)</strong></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 ubn-color"><strong>Enter Booklet Serial Number (Last Number)</strong></div>
                        <div class="col-md-4"><strong>@Html.DisplayFor(model => model.SerialNoEnd)</strong></div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" value="@Html.DisplayFor(model => model.RequestId)" name="RequestId" />
                        <input type="hidden" value="@Html.DisplayFor(model => model.SsaId)" name="SsaId">
                        <input type="hidden" value="@Html.DisplayFor(model => model.AccountNumber)" name="AccountNumber" />
                        <input type="hidden" value="@DateTime.Now.ToShortDateString()" name="RequestAuthorizationDate" />
                        <input type="hidden" value="@DateTime.Now.ToShortTimeString()" name="RequestAuthorizationTime" />
                    </div>
                    <div class="form-group">
                        <a class="btn btn-md ubn-color-bg white-bar col-md-3" data-toggle="modal" data-target="#commentModal" href="#">Decline</a>
                        <input type="submit" value="Authorize" class="btn btn-md btn-danger col-md-offset-2 col-md-3" onclick="Disable(this)" />
                    </div>
                </div>
}
            </fieldset>

        </div>
        <!-- Modal -->
        <div id="commentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title ubn-color">Enter reason for declining</h4>
                    </div>
                    
    @using (Html.BeginForm("Decline", "HssaDetails", FormMethod.Post, new { id = "sendform", role = "form", @class="modal-body"}))
                {
                        <textarea cols="5" class="form-control active" rows="3" name="Comment" id="Comment" required></textarea>
                        <input type="hidden" value="@Html.DisplayFor(model => model.RequestId)" name="RequestId" />
                        <input type="hidden" value="@Html.DisplayFor(model => model.SsaId)" name="SsaId" />
                        <input type="hidden" value="@DateTime.Now.ToShortDateString()" name="RequestAuthorizationDate" />
                        <input type="hidden" value="@DateTime.Now.ToShortTimeString()" name="RequestAuthorizationTime" />
                        <div class="modal-footer">
                            <input type="submit" value="Finish" class="btn btn-md btn-danger col-md-4 col-md-offset-4" />
                        </div>
                }
                    
                </div>

            </div>
        </div>
    </div>
        
</div>
@section Script{
    <script>

        function Disable(btn) {
            setTimeout(function () {
                $(btn).removeClass('btn-danger');
                $(btn).addClass('ubn-color-bg');
                $(btn).val("PROCESSING....");
            }, 100);

        }
    </script>

    <style type="text/css">
        .modal {
          text-align: center;
          padding: 0!important;
        }

        .modal:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -4px;
        }

        .modal-dialog {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
        }
    </style>
}





